:root {
  --poppins: Poppins, sans-serif;
  --fatface: "Abril Fatface", cursive;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --black: black;
}

body,
#about-me,
#work-container {
  margin: 0 100px;
}

#nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  margin-bottom: 10px;
}

#navbarNavAltMarkup {
  justify-content: right;
}

.poppins {
  font-family: var(--poppins);
}

.fatface {
  font-family: var(--fatface);
}

.mono {
  font-family: var(--font-mono);
}

.sans {
  font-family: var(--font-sans);
}

.nav-margin {
  margin: 20px 100px;
}

#head-container {
  margin: 100px 0;
}

.font-size-lg {
  font-size: 60px;
}

.l-space-neg {
  letter-spacing: -0.5px;
}

.intro-line {
  margin-bottom: 0px;
}

.profile-photo {
  width: 60%;
  padding: 12px;
  border-left: 3px solid var(--black);
  border-top: 3px solid var(--black);
}

.background {
  position: fixed;
  bottom: 0;
  font-size: 200px;
  color: rgb(241, 241, 241);
  margin-left: -130px;
  z-index: -2;
}

#background-container {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-color: #000;
}

.z-index-1 {
  z-index: 1;
}

.container-title-after::after {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  left: 140px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: grey;
}

.container-title-before::before {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  left: 140px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: grey;
}

.about-me-text {
  padding: 10px;
}

@media screen and (max-width: 375px) {
  .nav-margin {
    margin: 20px 10px;
  }
  .profile-photo {
    width: 80%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 10px;
  }
  .intro-line,
  #resume {
    margin-left: 45px;
  }
  body,
  #about-me {
    margin: 0;
  }
}
