:root {
  --poppins: Poppins, sans-serif;
  --fatface: "Abril Fatface", cursive;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --black: black;
}

body {
  margin: 0 80px;
}

#nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  margin-bottom: 10px;
}

#navbarNavAltMarkup {
  justify-content: right;
}

.poppins {
  font-family: var(--poppins);
}

.fatface {
  font-family: var(--fatface);
}

.mono {
  font-family: var(--font-mono);
}

.sans {
  font-family: var(--font-sans);
}

.nav-margin {
  margin: 20px 100px;
}

.l-space-4 {
  letter-spacing: 4px;
}

.l-space-neg {
  letter-spacing: -0.5px;
}

.intro-line {
  margin-bottom: 0px;
}

.profile-photo {
  width: 50%;
  padding: 12px;
  border-left: 3px solid var(--black);
  border-top: 3px solid var(--black);
}

.background {
  position: fixed;
  bottom: 0;
  font-size: 200px;
  color: rgb(241, 241, 241);
  margin-left: -50px;
  z-index: -1;
}

@media screen and (max-width: 375px) {
  .nav-margin {
    margin: 20px 10px;
  }
  .profile-photo {
    width: 80%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 10px;
  }
  .intro-line {
    line-height: 30px;
    margin-left: 40px;
  }
  body {
    margin: 0;
  }
}
